h3 Welcome!
p Daily.do is a site dedicated to helping you acheive your goals by providing a clear plan, daily task reminders, and accountability.
p But we're still in alpha development! So we need your help to figure out what goals you most want to achieve. Check out the list to the right and vote on a plan the most resonates with you. Can't find one you like? Suggest a new plan at the bottom of the list. 
